language: python

python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3

env:
  - DJANGO_VERSION=1.3
  - DJANGO_VERSION=1.4
  - DJANGO_VERSION=1.5
  - DJANGO_VERSION=1.6

install:
   # This is a dependency of our Django test script
 - pip install argparse --use-mirrors
 - pip install -q Django==$DJANGO_VERSION --use-mirrors
 - pip install mock
 - pip install flake8 coverage --use-mirrors

before_script:
    - "pep8 --ignore=E501 screamshot"
    - flake8 screamshot

script:
    - coverage run quicktest.py screamshot

after_success:
 - pip install coveralls
 - coveralls


# We need to exclude old versions of Django for tests with python 3.
matrix:
    exclude:
        - python: 3.2
          env: DJANGO_VERSION=1.3
        - python: 3.3
          env: DJANGO_VERSION=1.3
        - python: 3.2
          env: DJANGO_VERSION=1.4
        - python: 3.3
          env: DJANGO_VERSION=1.4

